@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

body
{
    background-color: #fcfcfc;
}

h5
{
    font-family: 'Source Sans Pro', Courier, monospace;
    font-weight: 400;
}

.special-area
{
    height: 500px;
    background-color: lightskyblue;
    margin-top: 60px;
}

#projects-section, #about-section, #contact-section
{
    padding-top: 80px;
}

.card-title
{
    font-size: medium;
    text-align: center;
    margin: 18px 18px 5px 18px;
    font-weight: 600;
    line-height: 23px;
}

.card
{
    border: none;
}

.project-link
{
    text-decoration: none;
    color: #000000;
}

.project-link:hover
{
    color: #000000;
}

.project-link-image:hover
{
    transform: scale(1.05);
    filter:opacity(85%);
}

#project-main-page
{
    padding-top: 80px;
}

.project-main-page-title, .contact-page-title
{
    text-transform: uppercase;
    font-weight: bold;
}

.project-main-page-description, .contact-form
{
    padding: 30px 0px 0px 0px;
}

.project-main-page-images
{
    /* object-fit: fill; */
    max-width: 870px;
    margin-bottom: 20px;
}

.container
{
    max-width: 900px;
}

.badge
{
    padding: 7px 12px 7px 12px;
    font-size: 14px;
    margin-bottom: 5px;
}

.language-badge-group
{
    margin: 30px 0px 10px 0px;
}

.other-technologies-badge-group
{
    margin: 0px 0px 10px 0px;
}

.badge-language
{
    background-color: #198754;
}

.badge-other-technologies
{
    background-color: #ffc107;
}

.project-information
{
    padding-bottom: 30px;
}

/* .countdown-timer
{
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */